---
layout: default
title: Home
notitle: true
---

<div class="jumbotron">
    <p>
        The <b>BergLab</b> is <a href="http://cseweb.ucsd.edu/~tberg/">Taylor Berg-Kirkpatrick</a>'s lab in the <b>Department of Computer Science and Engineering</b> at the <b>University of California San Diego</b>. Our group works on natural language processing and machine learning, focusing on unsupervised methods for deciphering hidden structure. We develop techniques for analyzing various kinds of human data, including natural language -- but also diverse sources like early modern books, handwritten text, historical ciphers, and music.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    <details>
        <summary>See more</summary>
        <ul class="news list-unstyled">
            {% for post in site.posts offset: site.front_page_news %}
                {% include news-item.html item=post %}
            {% endfor %}
        </ul>
    </details>
</section>

<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=JWV-yB6NFRAdMsWDfm1g7V__g3U4gLO_FPzVvcN6XgY&co=cce4f9&cmo=82baea&cmn=8190c4'></script>
