---
layout: default
title: People
---

<h3>Faculty</h3>

{% include role-people.html role="faculty" image=true %}

<hr>

<h3>Ph.D. Students</h3>

{% include role-people.html role="grad" image=true %}

<hr>

<h3>Master Students</h3>

{% include role-people.html role="master" image=true %}

<hr>

<h3>Undergraduate Students</h3>

{% include role-people.html role="ugrad" image=true %}

<hr>

<h3>Visitors</h3>

{% include role-people.html role="visitor" image=true %}

<hr>

<h3>Past Members</h3>

{% include role-people.html role="past" %}
