<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1708.00111.pdf">A Continuous Relaxation of Beam Search for End-to-end Training of Neural Sequence Models.</a>.
			</span><br />
			<span class="authors">
				Kartik Goyal, Graham Neubig, Chris Dyer, and Taylor Berg-Kirkpatrick.
			</span><br />
			<span class="venuetype"></span><span class="venue">AAAI 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
