<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1708.00111.pdf">A Continuous Relaxation of Beam Search for End-to-end Training of Neural Sequence Models</a>.
			</span><br />
			<span class="authors">
				Kartik Goyal, Graham Neubig, Chris Dyer, and Taylor Berg-Kirkpatrick.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2018</strong></big><br />
                February
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://www.cs.cmu.edu/~vcirik/assets/pdf/AAAI2018_cirik_using.pdf">Using Syntax to Ground Referring Expressions in Natural Images</a>.
            </span><br />
            <span class="authors">
                Volkan Cirik, Taylor Berg-Kirkpatrick, and Louis-Phillipe Morency.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2018</strong></big><br />
                February
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1711.08792.pdf">SPINE - Sparse Interpretable Neural Embeddings</a>.
            </span><br />
            <span class="authors">
                Harsh Jhamtani, Danish Pruthi, Anant Subramanian, Taylor Berg-Kirkpatrick, and Eduard Hovy.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1702.08139.pdf">Improved Variational Autoencoders for Text Modeling using Dilated Convolutions</a>.
            </span><br />
            <span class="authors">
                Zichao Yang, Zhiting Hu, Ruslan Salakhutdinov, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Fourth International Conference on Machine Learning (ICML)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1707.00206.pdf">Efficient Correlated Topic Modeling with Topic Embedding</a>.
            </span><br />
            <span class="authors">
                Junxian He, Zhiting Hu, Taylor Berg-Kirkpatrick, Ying Huang, and Eric P. Xing.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 23rd ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                July
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1704.07875.pdf">Automatic Compositor Attribution in the First Folio of Shakespeare</a>.
            </span><br />
            <span class="authors">
                Maria Ryskina, Hannah Alpert-Abrams, Dan Garrette, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 55th annual meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                July
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1704.06970.pdf">Differentiable Scheduled Sampling for Credit Assignment</a>.
            </span><br />
            <span class="authors">
                Kartik Goyal, Chris Dyer, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 55th Annual Meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2016</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1603.08887.pdf">Learning-Based Single-Document Summarization with Compression and Anaphoricity Constraints</a>.
            </span><br />
            <span class="authors">
                Greg Durrett, Taylor Berg-Kirkpatrick, and Dan Klein.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 54th Annual Meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2016</strong></big><br />
                January
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://pdfs.semanticscholar.org/0df1/e85ed659434afc606034fe2ba167641629fa.pdf">Using Accelerometers to Remotely and Automatically Characterize Behavior in Small Animals</a>.
            </span><br />
            <span class="authors">
                Talisin T. Hammond, Dwight Springthorpe, Rachel E. Walsh, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Experimental Biology</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>

</table>
