<table class="table">
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2019</strong></big><br />
                    November
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1909.06743.pdf">Learning Rhyming Constraints using Structured Adversaries.</a>
                </span><br />
                <span class="authors">
                    Harsh Jhamtani, Sanket Vaibhav Mehta, Jaime Carbonell, Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">EMNLP-IJCNLP</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    December
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1805.11749.pdf">Unsupervised Text Style Transfer using Language Models as Discriminators</a>
                </span><br />
                <span class="authors">
                    Zichao Yang, Zhiting Hu, Chris Dyer, Eric P. Xing, and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The Thirty-second Conference on Neural Information Processing Systems (NIPS)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    December
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1805.11818.pdf">Speaker-Follower Models for Vision-and-Language Navigation</a>
                </span><br />
                <span class="authors">
                    Daniel Fried, Ronghang Hu, Volkan Cirik, Anna Rohrbach, Jacob Andreas, Louis-Philippe Morency, Taylor Berg-Kirkpatrick, Kate Saenko, Dan Klein, and Trevor Darrell.
                </span><br />
                <span class="venuetype"></span><span class="venue">The Thirty-second Conference on Neural Information Processing Systems (NIPS)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    November
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1809.07282.pdf">Modeling Online Discourse with Coupled Distributed Topics</a>
                </span><br />
                <span class="authors">
                    Akshay Srivatsan, Zachary Wojtowicz, and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The 2018 Conference on Empirical Methods in Natural Language Processing (EMNLP)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    November
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1808.10584.pdf">Learning to Describe Differences Between Pairs of Similar Images</a>
                </span><br />
                <span class="authors">
                    Harsh Jhamtani and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The 2018 Conference on Empirical Methods in Natural Language Processing (EMNLP)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    November
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1808.09111.pdf">Unsupervised Learning of Syntactic Structure with Invertible Neural Projections</a>
                </span><br />
                <span class="authors">
                    Junxian He, Graham Neubig, and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The 2018 Conference on Empirical Methods in Natural Language Processing (EMNLP)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    June
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="http://aclweb.org/anthology/P18-1154">Learning to Generate Move-by-Move Commentary for Chess Games from Large-Scale Social Forum Data</a>
                </span><br />
                <span class="authors">
                    Harsh Jhamtani, Varun Gangal, Eduard Hovy, Graham Neubig, and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The 56th Annual Meeting of the Association for Computational Linguistics (ACL)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>
                <span class="date">
                    <big><strong>2018</strong></big><br />
                    June
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/1805.11818.pdf">Visual Referring Expression Recognition: What Do Our Systems Actually Learn?</a>
                </span><br />
                <span class="authors">
                    Volkan Cirik, Louis-Philippe Morency, and Taylor Berg-Kirkpatrick.
                </span><br />
                <span class="venuetype"></span><span class="venue">The 16th Annual Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies (NAACL)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
<tbody>
	<tr>
		<td>
			<span class="date">
				<big><strong>2018</strong></big><br />
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1708.00111.pdf">A Continuous Relaxation of Beam Search for End-to-end Training of Neural Sequence Models</a>
			</span><br />
			<span class="authors">
				Kartik Goyal, Graham Neubig, Chris Dyer, and Taylor Berg-Kirkpatrick.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2018</strong></big><br />
                February
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://www.cs.cmu.edu/~vcirik/assets/pdf/AAAI2018_cirik_using.pdf">Using Syntax to Ground Referring Expressions in Natural Images</a>
            </span><br />
            <span class="authors">
                Volkan Cirik, Taylor Berg-Kirkpatrick, and Louis-Phillipe Morency.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2018</strong></big><br />
                February
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1711.08792.pdf">SPINE - Sparse Interpretable Neural Embeddings</a>
            </span><br />
            <span class="authors">
                Harsh Jhamtani, Danish Pruthi, Anant Subramanian, Taylor Berg-Kirkpatrick, and Eduard Hovy.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Second AAAI Conference on Artificial Intelligence (AAAI)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1702.08139.pdf">Improved Variational Autoencoders for Text Modeling using Dilated Convolutions</a>
            </span><br />
            <span class="authors">
                Zichao Yang, Zhiting Hu, Ruslan Salakhutdinov, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The Thirty-Fourth International Conference on Machine Learning (ICML)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1707.00206.pdf">Efficient Correlated Topic Modeling with Topic Embedding</a>
            </span><br />
            <span class="authors">
                Junxian He, Zhiting Hu, Taylor Berg-Kirkpatrick, Ying Huang, and Eric P. Xing.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 23rd ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                July
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1704.07875.pdf">Automatic Compositor Attribution in the First Folio of Shakespeare</a>
            </span><br />
            <span class="authors">
                Maria Ryskina, Hannah Alpert-Abrams, Dan Garrette, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 55th annual meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2017</strong></big><br />
                July
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1704.06970.pdf">Differentiable Scheduled Sampling for Credit Assignment</a>
            </span><br />
            <span class="authors">
                Kartik Goyal, Chris Dyer, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 55th Annual Meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2016</strong></big><br />
                August
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://arxiv.org/pdf/1603.08887.pdf">Learning-Based Single-Document Summarization with Compression and Anaphoricity Constraints</a>
            </span><br />
            <span class="authors">
                Greg Durrett, Taylor Berg-Kirkpatrick, and Dan Klein.
            </span><br />
            <span class="venuetype"></span><span class="venue">The 54th Annual Meeting of the Association for Computational Linguistics (ACL)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
<tbody>
    <tr>
        <td>
            <span class="date">
                <big><strong>2016</strong></big><br />
                January
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                height="16" alt="PDF" />
                <a href="https://pdfs.semanticscholar.org/0df1/e85ed659434afc606034fe2ba167641629fa.pdf">Using Accelerometers to Remotely and Automatically Characterize Behavior in Small Animals</a>
            </span><br />
            <span class="authors">
                Talisin T. Hammond, Dwight Springthorpe, Rachel E. Walsh, and Taylor Berg-Kirkpatrick.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Experimental Biology</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>

</table>
